@{
    Layout = null;
 }

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/api/customers" method="post">
        <p>Fist Name</p>
        <input name="firstName" placeholder="Fist Name" />
        <p>Last Name</p>
        <input name="lastName" placeholder="Last Name" />
        <p>Shipping Address</p>
        <input name="shippingAddress.street" placeholder="Shipping Address Street" />
        <input name="shippingAddress.city" placeholder="Shipping Address City" />
        <p>Billing Address</p>
        <input name="billingAddress.street" placeholder="Billing Address Street" />
        <input name="billingAddress.city" placeholder="Billing Address City" />

        <input type="submit" value="Submit" />
    </form>
</body>
</html>

